.cm-editor.cm-focused {
  outline: none;
}

.cm-editor .cm-content {
  caret-color: var(--text-foreground);
  @apply my-2 p-0;
  font-family: inherit;
  height: 100%;
}

.cm-editor .cm-scroller {
  font-family: inherit;
}

.cm-editor {
  max-height: 300px;
  overflow-y: auto;
}

[data-mode='note'] {
  & .cm-editor {
    height: 100%;
    max-height: none;
  }

  & .cm-editor .cm-content {
    @apply m-0;
  }
}
